## Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. NumPy
3. Spyder
4. Seaborn

|Data Science Tools|
|------------------|
|Rstudio           |
|Jupyter Notebooks  |
|Apache Hadoop     |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
a = 10
b = 10
print("Addition:", a + b)

Addition: 20

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Creat Markdown cells
- Add comments to code cells

## Author
Deya